body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Lato, Roboto, Oswald, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
  @apply px-4 py-2 border rounded-lg  tracking-wider font-medium hover:bg-[#080833] hover:scale-110 transition duration-200 ease-in-out;
}
.p{
  @apply tracking-widest leading-6 font-roboto text-xs 
}
.hover{
  @apply hover:brightness-90
}
.input{
 @apply w-5/6 p-4 text-gray-800
}
.error{
  @apply text-red-500 text-left ml-[9%]
}
.item-hover{
  @apply hover:scale-110 transition duration-200 ease-in
}
.item-hovers{
  @apply hover:scale-105 transition duration-200 ease-in
}
.contact{
  @apply w-5/6 p-4 text-gray-800 caret-pink-600

}
